@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/awcodes/filament-curator/resources/views/**/*.blade.php';


.fi-growable.fi-grid-col {
    height: 40px;
}

.curator-picker-grid li {
    width: 200px;
    margin: 10px;
}


ul.curator-picker-grid {
    display: flex;
}